<div class="container mt-3 vh-100">
  <div class="'container" style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-3">
        <label >Choose Filter</label>
        <select class="form-select" aria-label="Default select example" name="filter" [(ngModel)]="filter" (ngModelChange)="selectFilter($event)">
          <option value="All">All</option>
          <option value="name">Name</option>
          <option value="description">Description</option>
          <option value="price">Price</option>
        </select>
  
      </div>
      <div class="col-3">
        <div class="form-group">
          <label >Filter Search</label>
          <input type="text" class="form-control" id="search" name="search" aria-describedby="emailHelp" [(ngModel)]="search" placeholder="Search" (ngModelChange)="searchtext($event)">
        </div>
      </div>
      <div class="col-3">
        <label >From Date</label>
        <input type="text"
        name="'from_date"
        [(ngModel)]="from_date"
        placeholder="From Date"
        (ngModelChange)="handeleFrom_date($event)"
        class="form-control"
        bsDatepicker>
      </div>
      <div class="col-3">
        <label >To Date</label>
        <input type="text"
        name="to_date"
        [(ngModel)]="to_date"
        placeholder="To Date"
        (ngModelChange)="handeleTo_date($event)"
        class="form-control"
        bsDatepicker>
      </div>
    </div>
  </div>
 
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proList of product">
        <td>
          <div class="d-flex align-items-center">
            <img src="{{base_url}}/uploads/{{proList.productimage}}" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{proList.name}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.description}}</p>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.price}}</p>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.quantity}}</p>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.status===1 ? 'Active':'Inactive'}}</p>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded"  [routerLink]="['/add']" [state]="{id:proList}">
            Edit
          </button>
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="deleteProduct(proList._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    <div class="row">
      <div class="col-6 ">
        <select class="form-select w-25 mt-2" aria-label="Default select example" name="limit" [(ngModel)]="limit" (ngModelChange)="pagelimit($event)">
          <option value="10">Select Limit</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
  
      </div>
      <div class="col-6 mt-2">
        <div class="float-end">
          <pagination [totalItems]="overallcount" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="setPage($event)"></pagination>  
        </div>
      </div>
    </div>

</div>