<div class="container mt-3 vh-100">
  <div class="'container" style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-4">
        <label for="exampleInputEmail1">Select</label>
        <select class="form-select" aria-label="Default select example" name="filter" [(ngModel)]="filter" (ngModelChange)="selectFilter($event)">
          <option value="All"></option>
          <option value="name">Name</option>
          <option value="description">Description</option>
          <option value="price">Price</option>
        </select>
  
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Filter Search</label>
          <input type="text" class="form-control" id="search" name="search" aria-describedby="emailHelp" [(ngModel)]="search" placeholder="Search" (ngModelChange)="searchtext($event)">
        </div>
      </div>
    </div>
  </div>
 
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proList of product">
        <td>
          <div class="d-flex align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{proList.name}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.description}}</p>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.price}}</p>
        </td>
        <td>
          <p class="text-muted mb-0">{{proList.status}}</p>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded"  [routerLink]="['/add']" [state]="{id:proList._id}">
            Edit
          </button>
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="deleteProduct(proList._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="float-end">
    <div class="row">
      <div class="col-xs-12 col-12">
        <pagination [totalItems]="overallcount" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="setPage($event)"></pagination>
      </div>
    </div>
  </div>

</div>