<div class="container">
    <!-- No data message -->
    <p *ngIf="Todo.length <= 0" class="no-data text-center">
      There is no Todo added yet!
    </p>
      <table class="table table-bordered" *ngIf="Todo.length > 0">
      <thead class="table-success">
        <tr>
          <th scope="col"> ID</th>
          <th scope="col">Name</th>
          <th scope="col">Job Role</th>
          <th scope="col" center>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of Todo; let i = index">
          <th scope="row">{{ todo._id }}</th>
          <td>{{ todo.name }}</td>
          <td>{{ todo.jobRole }}</td>
          <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/edit/', todo._id]">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>
            <span class="delete" (click)="removetodo(todo._id)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>