<div class="container mt-3">
    <nav class="navbar navbar-light bg-light">
      <header>
        <button class="btn btn-outline-success me-2" type="button"routerLink="/" *ngIf="!isLoggedin">  Sign In</button>
        <button class="btn btn-outline-success me-2" type="button"routerLink="/register"*ngIf="!isLoggedin" >Register</button>
        <button class="btn btn-outline-success me-2" type="button"routerLink="/add" *ngIf="isLoggedin">Create</button>
        <button class="btn btn-outline-success me-2" type="button" routerLink="/lists" *ngIf="isLoggedin">View</button>
      </header>
      <div class="float-end">
        <button class="btn btn-outline-danger me-2" type="button" (click)="logout()" *ngIf="isLoggedin">Logout</button>
      </div>
    </nav>
  </div>